@tailwind base;

*::-webkit-scrollbar {
  display: none;
}

html.open {
  overflow: hidden;
}

.mySwiper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

@tailwind components;
@tailwind utilities;
